@mixin animation-velocity($name, $duration, $timing, $iteration) {
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;
}

@font-face {
    font-family: "super-mario";
    src: url("../assets/Super-Mario-World.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url('../assets/te28nshadog61.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#frame{
position: absolute;
width: 1092px;
pointer-events: none;
}

#text-score {
    font-family: 'super-mario';
    text-shadow: 3px 3px 2px black;
    font-size: 35px;
    text-align: center;
    color: white;
    text-align: end;
    margin-right: 30px;
}

.game-board {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.clouds {
    position: absolute;
    margin-top: 5px;
    width: 500px;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0px;
}

.jump {
    animation: jump 500ms ease-out;
}

.container-grama {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.grama {
    height: 10px;
    background: linear-gradient(to top, #006e3d 10%, #007B44 20%, #01C601);
}

.pipe {
    position: absolute;
    bottom: 0px;
    width: 80px;
    height: 80px;
    left: -80px;
    animation-delay: 2s;
}

.container-chao {
    width: 1000px;
    height: 26px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.chao-1 {
    position: absolute;
    bottom: 0px;
}

.chao-2 {
    position: absolute;
    bottom: 0px;
}
