@mixin animation-velocity($name, $duration, $timing, $iteration) {
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

#text-score {
    font-size: 50px;
    text-align: center;
    color: white;
}

.game-board {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.clouds {
    position: absolute;
    width: 550px;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0px;
}

.jump {
    animation: jump 500ms ease-out;
}

.container-grama {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.grama {
    height: 10px;
    background: linear-gradient(to top, #006e3d 10%, #007B44 20%, #01C601);
}

.pipe {
    position: absolute;
    bottom: 0px;
    width: 80px;
    height: 80px;
    left: -80px;
}

.container-chao {
    width: 1000px;
    height: 26px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.chao-1 {
    position: absolute;
    bottom: 0px;
}

.chao-2 {
    position: absolute;
    bottom: 0px;
}
